<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="java.com.example.mapper">
  <select id="id" resultType="User">
    select * from Blog where id = #{id}
  </select>
  <insert id="insertUser">
    insert into t_user(id,name,daily_calories)
    values(null, "jacky","2345")
  </insert>
</mapper>