<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeTracker Login</title>
</head>
<body>
    test login
    <button th:text="${user}">login sucessful yes</button>
    <form action="post">
        <input type="button" value="123">
        <input type="date" name="123" id="">
        <input type="datetime-local" name="" id="">
        <input type="text" th:value="${user.name}">
    </form>
</body>
</html>