<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jacky Fang">
    <title>DietRecords</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" th:href="@{/image/RexBearIU-Logo-1.ico}" type="image/x-icon">
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- navbar -->
    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-between">
        <div class="container fs-3">

            <a href="#" class="navbar-brand ">LifeTracker</a>


            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse " id="collapsingNavbar">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item active mx-auto">
                        <!-- change link -->
                        <a class="nav-link " href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home">
                            <i class="bi bi-house-door"></i>
                            &nbsp;<i class="collapse " id="collapsingNavbar">Home</i>
                        </a>
                    </li>
                    <li class="nav-item mx-auto">
                        <!-- change link -->
                        <a class="nav-link " href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="DietRecords">
                            <i class="bi bi-journal-richtext"></i>
                            &nbsp;<i class="collapse " id="collapsingNavbar">DietRecords</i>
                        </a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a class="nav-link " href="#" title="About" data-bs-target="#aboutModal"
                            data-bs-placement="bottom" data-bs-toggle="modal">
                            <i class="bi bi-info-circle"></i>
                            &nbsp;<i class="collapse " id="collapsingNavbar">About</i>
                        </a>
                    </li>
                </ul>
                <ul class=" navbar-nav ms-auto ">
                    <li class="nav-item mx-auto">
                        <a class="nav-link text-danger"  data-bs-target="#logoutModal" data-bs-placement="bottom"
                            title="Log Out" data-bs-toggle="modal">
                            <i class="bi bi-box-arrow-right"></i>
                            <i class="collapse " id="collapsingNavbar">Log Out</i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- navbar -->
    <!-- Data Table Navbar-->
    <div class="container">

        <div class="input-group ">
            <div class="form col-md-5">
                <input id="search-input" type="search" placeholder="Search Food" class="form-control" />
            </div>
            <button type="button" class="btn btn-light">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <br>

        <button type="button" class="btn btn-light dropdown-toggle ms-auto form col-md-5" data-bs-toggle="dropdown"
            aria-expanded="false">
            Choose your ideal range
        </button>
        <ul class="dropdown-menu">
            <li><h6 class="dropdown-header">Please select a range</h6></li>
            <li><a class="dropdown-item" th:href="@{/dietRecord/get/sevenDays}">past 7 days</a></li>
            <li><a class="dropdown-item" th:href="@{/dietRecord/get/oneMonth}">past 1 month</a></li>
            <li><a class="dropdown-item" th:href="@{/dietRecord/get/threeMonths}">past 3 months</a></li>
            <li><a class="dropdown-item" th:href="@{/dietRecord/get/oneYear}">past 1 year</a></li>
        </ul>

    </div>

    <br>
    <!-- Data Table Navbar-->
    <!-- Data Table -->

    <div class="container table-responsive" th:object="${lifeUser}">
        Hi <b th:text="${lifeUser.getName()}"></b>, these are your DietRecords in <b th:text="${period}"></b>
        <br><br>
        <table class="table rounded overflow-hidden text-center bg-white text-nowrap table-hover  ">

            <thead class="bg-light">
                <tr>
                    <th>Date</th>
                    <th>Meal time</th>
                    <th>Food</th>
                    <th>Food Content</th>
                    <th>Portion</th>
                    <th>Calories</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dietRecords:${dietRecords}">
                    <td class="fw-bold " th:text="${dietRecords.date}"></td>
                    <td th:text="${dietRecords.mealTime}"></td>
                    <td class="fw-bold " th:text="${dietRecords.food}"></td>
                    <td th:text="${dietRecords.foodType}"></td>
                    <td th:text="${dietRecords.portion}"></td>
                    <td>
                        <b th:text="${dietRecords.calories}"></b>&nbsp;Kcal
                    </td>
                    <td>
                        <button type="button" class="btn btn-rounded edit-row">
                            <a href="#" title="Revise" data-bs-target="#reviseModal" data-bs-placement="bottom"
                                data-bs-toggle="modal">
                                <i class="bi bi-gear"></i>
                            </a>
                        </button>
                        <button type="button" class="btn  btn-rounded">
                            <a href="#" title="Delete" data-bs-target="#deleteModal" data-bs-placement="bottom"
                                data-bs-toggle="modal">
                                <i class="bi bi-trash3"></i>
                            </a>

                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <!-- Data Table -->
    <!-- footer -->
    <footer class="mt-auto">
        <!-- Copyright -->
        <div class="text-center fs-5 text-md-end" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright:
            <a class="text-reset fw-bolder">Jacky Fang</a>
            <a href="https://github.com/RexBearIU/lifetracker" class=" text-reset">
                <i class="bi bi-github"></i>
            </a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- footer -->
    <!-- About Modal-->
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="myModalLabel">About Us</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <p>LifeTracker is a food diary website that allows you to record what you eat every day, how
                        many
                        calories you consume, and how much money you spend.<br><br>
                        This website can help you control your diet, reduce eating high-calorie and high-priced
                        food,
                        and make you healthier and more economical.<br><br>
                        If you also want to record your diet and enjoy a healthier and more economical lifestyle,
                        why
                        not try LifeTracker website!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-bs-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- About Modal-->
    <!-- Revise Modal-->
    <div id="reviseModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Revise the record!
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="date" class="form-control" id="validationDate" required />
                                <label for="validationDate" class="form-label">Date</label>
                                <div class="invalid-feedback">Please fill the date </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="validationMealTime" required />
                                <label for="validationMealTime" class="form-label">Meal time</label>
                                <div class="invalid-feedback">Please fill the meal time </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="validationFood" required />
                                <label for="validationFood" class="form-label">Food</label>
                                <div class="invalid-feedback">Please fill the food </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="validationFoodContent"/>
                                <label for="validationFoodContent" class="form-label">Food Content</label>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="validationPortion" />
                                <label for="validationPortion" class="form-label">Portion</label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="input-group form-floating">
                                <input type="text" class="form-control" id="validationCalories" />
                                <span class="input-group-text">Kcal</span>
                                <label for="validationCalories" class="form-label">Calories</label>
                            </div>
                        </div>
                        <div class="col-md-3 ms-auto">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-bs-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Revise Modal-->
    <!-- Delete Modal-->
    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="myModalLabel">Comfirm</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete the data ?</p>

                </div>
                <div class="modal-footer">
                    <form method="post">
                        <button class="btn" data-bs-dismiss="modal" aria-hidden="true" type="submit">Yes</button>
                    </form>
                    <button class="btn" data-bs-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal-->
    <!-- Logout Modal-->
    <div id="logoutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="myModalLabel">Comfirm</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to Log out ?</p>
                </div>
                <div class="modal-footer">
                    <form method="post" th:action="@{/logout}">
                        <button class="btn" aria-hidden="true" type="submit">Yes</button>
                    </form>
                    <button class="btn" data-bs-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Modal-->

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/dietRecordscript.js}"></script> 
</body>

</html>